In [22]:
import pandas as pd

data = pd.read_excel('train.xlsx')

In [23]:
data = data.drop(columns=['Patient Code', 'Group '])
data

,Glucose,Urea,Creatinine,Sodium,Potassium,TB,DB,ALT,AST,ALP,...,WBC,Platelet,CRP,PCT,IL-6,PT,D-Dimer,Troponin,CPK-MB,LDH
0,NaN,55.0,0.9,137.0,3.3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,74.0,21.0,1.1,140.0,4.2,1.1,0.3,32.0,33.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,390.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,150.0,36.0,1.0,139.0,3.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,30.0,1.0,141.0,4.1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275,169.0,86.0,0.9,141.0,3.5,1.0,0.3,37.0,41.0,70.0,...,8400.0,254000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2276,NaN,45.0,1.1,146.0,3.2,NaN,NaN,NaN,NaN,NaN,...,26600.0,253000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2277,127.0,33.0,0.8,140.0,NaN,0.8,0.2,70.0,86.0,142.0,...,4500.0,250000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2278,164.0,202.0,6.2,131.0,4.8,0.8,0.2,23.0,26.0,78.0,...,5000.0,250000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2279,86.0,23.0,0.9,138.0,4.0,0.9,NaN,25.0,17.0,85.0,...,7700.0,250000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
data = data.drop(columns=['Total Protein', 'Albubin', 'Ferritin', 'PCT', 'IL-6', 'PT', 'Troponin', 'CPK-MB', 'LDH'])

In [25]:
# KNN处理缺失值
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler

numerical_cols = data.select_dtypes(include=['float64', 'int64']).columns

scaler = StandardScaler()
scaled_data = scaler.fit_transform(data[numerical_cols])

knn_imputer = KNNImputer(n_neighbors=8)
imputed_data = knn_imputer.fit_transform(scaled_data)

imputed_data = scaler.inverse_transform(imputed_data)


data[numerical_cols] = imputed_data

data

,Glucose,Urea,Creatinine,Sodium,Potassium,TB,DB,ALT,AST,ALP,Hemoglobin,WBC,Platelet,CRP,D-Dimer
0,157.125,55.0,0.9000,137.0,3.3000,0.9500,0.2625,54.375,50.250,108.500,12.6125,15425.0,240250.0,83.1250,4.8125
1,74.000,21.0,1.1000,140.0,4.2000,1.1000,0.3000,32.000,33.000,81.000,14.8125,6750.0,219875.0,9.0500,0.2125
2,390.000,64.5,1.4875,138.0,3.9875,1.0875,0.4125,147.250,97.375,127.375,12.3625,14537.5,225375.0,67.0625,4.9000
3,150.000,36.0,1.0000,139.0,3.5000,0.9000,0.3125,43.375,37.000,136.000,13.4875,13250.0,245000.0,88.7500,2.6875
4,149.125,30.0,1.0000,141.0,4.1000,0.9625,0.3000,72.250,56.250,109.500,13.6125,7037.5,182250.0,28.6000,1.0250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275,169.000,86.0,0.9000,141.0,3.5000,1.0000,0.3000,37.000,41.000,70.000,14.6000,8400.0,254000.0,104.6250,1.0375
2276,150.375,45.0,1.1000,146.0,3.2000,0.8875,0.2750,122.500,81.125,206.625,13.0000,26600.0,253000.0,56.4750,0.7625
2277,127.000,33.0,0.8000,140.0,3.5500,0.8000,0.2000,70.000,86.000,142.000,12.9000,4500.0,250000.0,54.1375,0.4125
2278,164.000,202.0,6.2000,131.0,4.8000,0.8000,0.2000,23.000,26.000,78.000,6.9000,5000.0,250000.0,86.9125,2.2250
2279,86.000,23.0,0.9000,138.0,4.0000,0.9000,0.2875,25.000,17.000,85.000,14.0000,7700.0,250000.0,27.8500,0.4250

In [26]:
X_test = data[:][:456]
X_test

,Glucose,Urea,Creatinine,Sodium,Potassium,TB,DB,ALT,AST,ALP,Hemoglobin,WBC,Platelet,CRP,D-Dimer
0,157.125,55.000,0.9000,137.0,3.3000,0.9500,0.2625,54.375,50.250,108.500,12.6125,15425.0,240250.0,83.1250,4.8125
1,74.000,21.000,1.1000,140.0,4.2000,1.1000,0.3000,32.000,33.000,81.000,14.8125,6750.0,219875.0,9.0500,0.2125
2,390.000,64.500,1.4875,138.0,3.9875,1.0875,0.4125,147.250,97.375,127.375,12.3625,14537.5,225375.0,67.0625,4.9000
3,150.000,36.000,1.0000,139.0,3.5000,0.9000,0.3125,43.375,37.000,136.000,13.4875,13250.0,245000.0,88.7500,2.6875
4,149.125,30.000,1.0000,141.0,4.1000,0.9625,0.3000,72.250,56.250,109.500,13.6125,7037.5,182250.0,28.6000,1.0250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,99.000,25.000,1.0000,140.0,4.3000,0.9000,0.3000,21.000,19.000,91.875,13.7125,6475.0,262625.0,4.6750,0.5500
452,88.000,27.000,1.1000,142.0,3.5000,0.9000,0.2000,25.000,33.000,87.000,12.9000,7100.0,320000.0,0.0000,0.3000
453,310.000,63.125,1.0125,142.0,3.9250,1.0875,0.3750,67.750,39.875,102.875,14.2750,14087.5,158625.0,132.0000,2.4625
454,101.000,21.000,0.7000,136.0,3.4000,0.8000,0.2000,149.000,173.000,91.000,12.8125,9650.0,319625.0,61.2250,0.4000
455,196.750,106.000,1.7000,145.0,3.7000,1.3375,0.7750,126.500,107.250,144.250,12.6125,13962.5,209250.0,91.6250,2.8000

In [27]:
import joblib

DTM = joblib.load(r'C:\Users\qyypy\Desktop\机器学习综合实践\Save_Model\dtc.pkl')

In [28]:
y_pre = DTM.predict(X_test)
y_pre

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1], dtype=int64)

In [29]:
y_pre.reshape(-1, 1)

array([[1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1]], dtype=int64)

In [30]:
df = pd.DataFrame({'id': [ i for i in range(1,457)], 'Group': y_pre})
df

      id  Group
0      1      1
1      2      1
2      3      1
3      4      1
4      5      1
..   ...    ...
451  452      1
452  453      0
453  454      1
454  455      1
455  456      1

[456 rows x 2 columns]

In [31]:
df.to_excel('predictions.xlsx', index=False)

In [32]:
import torch